a.active > li > div.MuiBox-root {
    background-color: rgba(255, 255, 255, 0.3);
}

.area-restriction-autocomplete > div.css-1qnrw8l-MuiInputBase-root-MuiOutlinedInput-root {
    height: 42px;
}

.area-restriction-time input,
.area-restriction-time label {
    font-size: 13px;
    padding-right: 2px;
}

.area-restriction-time .MuiInputAdornment-positionEnd {
    margin-left: 0;
}

.area-restriction-time .MuiInputAdornment-positionEnd button,
.area-restriction-time .MuiAutocomplete-clearIndicator {
    padding: 2px;
}

.area-restriction-setting .MuiAutocomplete-inputRoot input {
    height: 12px;
}

.time-keeping-noti-autocomplete div.css-1qnrw8l-MuiInputBase-root-MuiOutlinedInput-root {
    height: 42px;
}

#autocomplete_start_day,
#autocomplete_end_day {
    padding-top: 0;
}

div .rtf .rtf--mb__c {
    margin: 0;
    padding: 0;
}

.limitName {
    coler: red;
    width: 120px;
    white-space: nowrap;
}

.limitName > span {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.ellipsis {
    display: inline-block;
    width: calc(50% + 1em);
    text-overflow: ellipsis;
}

label.MuiInputLabel-root {
    line-height: normal;
    color: #7b809a !important;
}

canvas.lower-canvas {
    border-radius: 10px;
}

div[role="tooltip"] {
    z-index: 10000;
}

@media screen and (max-height: 800px) {
    .css-1dnc2wt-MuiGrid-root > .MuiGrid-item {
        padding-top: 0 !important;
    }

    #employee-autocomplete-label {
        font-size: 0.740rem;
    }
}
